{% extends "Planificaciones/base.html" %}

{% block contenido %}
<p>Atleta: <b>{{ atleta.user.username }}</b></p>

<h3>Editar Atleta</h3>
<form method="post">
 {% csrf_token %}
 <div class="row">
  <div class="col-md-6">
   <div class="form-group">
    {{ form.categoria.label_tag }}
    {{ form.categoria }}
   </div>
   <div class="form-group">
    {{ form.apodo.label_tag }}
    {{ form.apodo }}
   </div>
   <div class="form-group">
    {{ form.grace.label_tag }}
    {{ form.grace }}
   </div>
   <div class="form-group">
    {{ form.fran.label_tag }}
    {{ form.fran }}
   </div>
   <div class="form-group">
    {{ form.murph.label_tag }}
    {{ form.murph }}
   </div>
  </div>
  <div class="col-md-6">
   <div class="form-group">
    {{ form.backsquat_rm.label_tag }}
    {{ form.backsquat_rm }}
   </div>
   <div class="form-group">
    {{ form.clean_rm.label_tag }}
    {{ form.clean_rm }}
   </div>
   <div class="form-group">
    {{ form.jerk_rm.label_tag }}
    {{ form.jerk_rm }}
   </div>
   <div class="form-group">
    {{ form.snatch_rm.label_tag }}
    {{ form.snatch_rm }}
   </div>
   <div class="form-group">
    {{ form.deadlift_rm.label_tag }}
    {{ form.deadlift_rm }}
   </div>
  </div>
 </div>
 <input type="submit" value="Salvar" class="btn btn-secondary btn-sm"/>
</form>
{% endblock contenido %}
