{% extends "Planificaciones/base.html" %}

{% block contenido %}
<section>
    <div>
      <h1>Planificaciones</h1>
      <form action="{% url 'buscar_plani' %}" method="get">
        {% csrf_token %}
        <input type="text" name="q">
        <input type="submit" value="Buscar por semana">
      </form>
      {% if perms.planificaciones.add_planificaciones %}
      <a href="{% url "crear_plani" %}" style="color:red;">Crear Plani</a>
      <br><br>
      {% endif %}

      <table class="table">
        <tbody>
          <tr>
            <th style="color:red">Semana</th>
            <th style="color:red">Fecha inicio</th>
            <th style="color:red"> Ver plani</th>
            <th style="color:red"></th>
            <th></th>
          </tr>
          {% for planificacion in object_list %}
          <tr>
            <td style="color:white">{{ planificacion.numero_semana }}</td>
            <td style="color:white">{{ planificacion.fecha_inicio }}</td>
            
            <td>

                <a href="{% url 'ver_plani' pk=planificacion.id %}">Ver planificación</a>

                  
            </td>
            <td>
              {% if perms.planificaciones.change_planificaciones %}
                <a href={% url "editar_plani" pk=planificacion.id %}>
                    <i class="bi bi-pencil"></i> 
              {% endif %}

            </td>
            <td>
 
              {% if perms.planificaciones.delete_planificaciones %}
                <a href = "{% url "borrar_plani" pk=planificacion.id %}">
                  <i class="bi bi-trash"></i>
              {% endif %}

            </td>
          </tr>
          {% empty %}
          <tr>
            <td style="color:red" colspan="5">No hay resultados para la búsqueda.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock contenido %}