{% extends "Planificaciones/base.html" %}

{% block contenido %}
<div class="container" style="background-color: black; padding: 20px;">
    <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default" style="color: orange; text-align: center">SEBA COSTAS HC.</h2>		
    </div>

    <p style="text-align: center;">- Dueño y fundador de Suyai CF, desde el 2015.</p>

    <p style="text-align: center;">- Coach CROSSFIT LEVEL 1. En constante formación.</p>

    <p style="text-align:  center;">- Atleta Elite, integrante Monks Team, Bigg Team, habiendo compartido entrenamiento y competencias junto a los atletas más importantes del país.</p>

    <p style="text-align: center;">- Habiendo competido en Argentina, Mexico y Brasil:</p>

    <p class="tabulado" style="text-align: center;"> Categoría única, Southfit 2014. </p>

    <p class="tabulado" style="text-align: center;"> 1er. Puesto Categoría Scaled  - Monstar, 2015. </p>

    <p class="tabulado" style="text-align: center;"> 4to. Puesto Categoría RX Equipos - Southfit, 2015. </p>
    
    <p class="tabulado" style="text-align: center;"> 2do. Puesto Categoría Rx Individual - Southfit 2017. </p>
    
    <p class="tabulado" style="text-align: center;"> 2do. Puesto Categoría Elite - Box Battle Mendoza, 2018. </p>

    <p class="tabulado" style="text-align: center;"> 10mo. Puesto Categoría Elite Individual - Southfit, 2018. </p>

    <p style="text-align: center;">-Hoy enfocado en la propia capacitación y enseñanza del Crossfit, no solo como actividad física, sino como marco referencial, que mejor se adapte a la vida de cada atleta. </p>
</div>
{% endblock contenido %}
{% block estilos %}
<style>
    .elementor-widget-container p {
        text-align: center;
    }
    
    .elementor-widget-container p.tabulado {
        text-indent: 30px;
    }
</style>
{% endblock estilos %}