{% extends "Planificaciones/base.html" %}

{% block contenido %}
<section>
    <div>
      <h1>PLANIFICACION</h1>
      {% if perms.planificacion.add_planificacion %}
      <a href="{% url "crear_plani" %}" style="color:red;">Crear Plani</a>
      <br><br>
      {% endif %}

      <table class="table">
        <tbody>
          <tr>
            <th style="color:red">Semana</th>
            <th style="color:red">Fecha inicio</th>
            <th style="color:red"> Descripcion</th>
            <th style="color:red"> Ver plani</th>
            <th style="color:red"></th>
            <th></th>
          </tr>
          {% for planificacion in object_list %}
          <tr>
            <td style="color:white">{{ planificacion.semana }}</td>
            <td style="color:white">{{ planificacion.fecha_inicio }}</td>
            <td style="color:white">{{ planificacion.descripcion }}</td>
            <td>
              
                <a href = "{% url "ver_plani" planificacion.id %}">Ver</a>
                  
            </td>
            <td>
              {% if perms.planificacion.change_planificacion %}
                <a href={% url "editar_plani" planificacion.id %}> Editar Plani </a>
              {% endif %}
            </td>
            <td>
              {% if perms.planificacion.delete_planificacion %}
                <a href = "{% url "borrar_plani" planificacion.id %}">
                  <i class="bi bi-trash"></i>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td style="color:red" colspan="5">No hay resultados para la búsqueda.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock contenido %}

